<%- include("partials/header") -%>
   <h1>HOME</h1> 
   <p> <%= homeStartingContent %></p>
  <% Blogs.forEach(function(Post){ %>
    <% let str="/posts/"; %>
    
   <% d = Post._id %>
   <% str+=d %>
    <h1><%= Post.Title %></h1>
   <p>
    
 
       <% const r= Post.Content.slice(0,100); %>
        <%= r %>

  ...
  
 

  <a href= <%= str %> >Read more</a>
</p>
 <%  }); %>

<%- include("partials/footer") -%>